.selected{
    background-color: grey;
}

.ListContenant {
    border: solid white 2px;
    padding: 15px;

}

li:focus{
    background-color: black;
}

.detailProduit{
    
    height: auto;
    width: 500px;
    border: solid black 2px;
    margin: auto;
    margin-top: 50px;
    padding-left: 20%;
}

a {
    text-decoration: none;
}

body{
    background-color: #141313;
}

div{
    background-color: #141313;

}

li, p, span, h3, label{
    color: white;
}