
<div class="ListContenant">
    <h3>Liste des produits : </h3>

    
        <a  routerLink="./detail-page" routerLinkActive="active">
            <li *ngFor="let pl of produitList"  (click)="produitSelected($event ,pl)"> 
                <span>{{pl.Name}} &nbsp; &nbsp;</span> 

            </li>
        </a>
    
</div>

<div class="formProduitGroup">
    <form [formGroup]="produitForm" (ngSubmit)="this._produitService.onSubmit()">
    <label > Name : 
        <input formControlName="Name">
    </label>
    <label > Texture : 
        <input formControlName="Texture">
    </label>
    <label > Grammage : 
        <input formControlName="Grammage">
    </label>
    <label > Couleur : 
        <input formControlName="Couleur">
    </label>
    <button mat-raised-button color="accent" type="submit"> Ajouter </button>
    </form>
</div>


